# Environment variables (contains secrets!)
.env
.env.production
deploy/production.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Docker volumes (if using bind mounts)
postgres-data/

netbox
netbox-docker
support
backup
backups