{% load i18n %}

{% for field in form %}
  <div class="mb-3">
    <label for="{{ field.id_for_label }}" class="form-label">
      {{ field.label }}
      {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
    </label>
    {% if field.field.widget.input_type == 'checkbox' %}
      <div class="form-check">
        {{ field }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
      </div>
    {% else %}
      {{ field }}
      {% if field.help_text %}
        <div class="form-text">{{ field.help_text }}</div>
      {% endif %}
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="invalid-feedback d-block">
          <span class="material-icons md-18" style="vertical-align: text-bottom;">error_outline</span>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}
